doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='assets/build/css/style.min.css')
    title Gulpy Front Boilerplate
  body
    .container
      .well
        p Hi! This is Gulpy Front Boilerplate.
    script(src='assets/build/js/main.min.js')
