doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='css/style.min.css')
    title Stichoza &middot; Web Development
  body

    .header
      .title
        h1 Hi! I'm 
          strong Stichoza
        h2 A Full-Stack Web Developer

    #about.about.section
      .container
        .row
          .col-sm-6.col-md-4.col-md-offset-1
            img.img-responsive(src='images/stichoza.jpeg', alt='')
          .col-sm-6.col-md-5.col-md-offset-1
            h3 A short info about me
            p I'm Levan. I am a web developer and a citizen of Planet Earth. I create webapps, websites and web-everything with passion.
            p I love developing with #[strong Laravel Framework], PHP. And #[strong Node.js] is also something I enjoy.
            p My hobbies include photography, travelling, ecotourism and all kinds of outdoor activities combined with extreme sports.

    #resume.resume.section
      .container
        .row
          .col-md-8.col-md-offset-2
            h3.text-center Still about me
              small.text-uppercase But more technically (a.k.a Resume)

            h4.text-center Education

            dl.dl-horizontal
              dt 2016 - 2018
              dd
                strong Master of Computer Science 
                | - Georgian Technical University
            dl.dl-horizontal
              dt 2011 - 2015
              dd
                strong Bachelor of Computer Science 
                | - Tbilisi State University
            dl.dl-horizontal
              dt 2006 - 2011
              dd Tbilisi #42 Physics-Mathematical School Named After I. Vekua
            dl.dl-horizontal
              dt 1999 - 2006
              dd Tbilisi #165 Public School

            h4.text-center Experience

            dl.dl-horizontal
              dt 2016 - Present
              dd #[strong AdvertWise] - Full-stack Web Developer
            dl.dl-horizontal
              dt 2015 - 2016
              dd #[strong APP3null GmbH] - Full-stack Web Developer
            dl.dl-horizontal
              dt 2014
              dd #[strong AzRy] - Software Developer
            dl.dl-horizontal
              dt 2013 - Present
              dd #[strong uniHack] - Co-Founder, Speaker
            dl.dl-horizontal
              dt 2012 - 2013
              dd #[strong Ministry of Sport and Youth Affairs] - Web and Mobile Developer

            h4.text-center Qualifications

            dl.dl-horizontal
              dt April - May 2014
              dd #[strong CodeSchool] - Completed #[strong 13] Courses including:
                ul
                  li Real-time Web with Node.js
                  li JavaScript Road Trip (I, II, III)
                  li CoffeeScript
                  li CSS Cross-Country
                  li Front-end Formations
                  li Fundamentals of Design
                  li Journey Into Mobile
            dl.dl-horizontal
              dt May 2014 
              dd #[strong Princeton University] Coursera: Algorithms

            h4.text-center Achievements

            dl.dl-horizontal
              dt September 2010
              dd #[strong Project IT] - Winner of Young Programmers’ Contest by #[strong Ministry of Internal Affairs]

            h4.text-center Other

            dl.dl-horizontal
              dt Operating Systems
              dd Using Apple macOS, loving GNU/Linux
            dl.dl-horizontal
              dt Graphical Design
              dd Sketch, Adobe stack (Photoshop, Illustrator, Flash)
            dl.dl-horizontal
              dt In &hearts; With
              dd GitHub, Google Products, StackOverflow, OpenSource
            dl.dl-horizontal
              dt Spoken Languages
              dd Georgian #[small (native)], English #[small (fluent)], Russian, Polish

    #portfolio.portfolio.section
      .container
        .row
          .col-md-10.col-md-offset-1
            h4.text-center I'm proud to have collaborated with some awesome companies
            .row.grid-companies
              .col-sm-3.col-xs-6
                  img(src="images/circle.png", alt="Circle")
              .col-sm-3.col-xs-6
                  img(src="images/wearede.png", alt="WeAreDe")
              .col-sm-3.col-xs-6
                  img(src="images/advertwise.png", alt="AdvertWise")
              .col-sm-3.col-xs-6
                  img(src="images/app3null.png", alt="APP3null")

            h3 My recent work

            p (coming soon)

    #contact.contact.section
      .container
        .row
          .col-md-10.col-md-offset-1
            h3 Contact me


